@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (min-width: 1201px)
	.carousel-caption
		bottom: 80px
	.carousel-inner > .item > .carousel-caption >
	h1
		text-transform: uppercase
		font-weight: 700
		font-size: 50px
		line-height: 1em
		margin-bottom: 20px
		h3
			font-size: 30px
			line-height: 1em
			margin-bottom: 40px
	.navbar-static .nav > li > a
		padding: 15px 30px 15px 0
	.carousel-inner > .item > .carousel-caption > a
		margin-bottom: 20%
	.team-member1 .team-member1-details p
		font-size: 14px
	.section19 .section19-404 h1
		font-size: 20em
	.navbar-brand
		margin-left: 0 !important
	.section-10-btn-cont
		text-align: right

/* Medium Layout: 1280px.
@media only screen and (min-width: 992px) and (max-width: 1200px)
	.carousel-caption
		bottom: 80px
	.logo-text
		font-size: 22px !important
	.carousel-inner > .item > .carousel-caption >
	h1
		text-transform: uppercase
		font-weight: 700
		font-size: 40px
		line-height: 1em
		margin-bottom: 20px
		h3
			font-style: italic
			font-size: 28px
			line-height: 1em
			margin-bottom: 40px
	.navbar-static .nav > li > a
		padding: 15px 30px 15px 0
	.carousel-inner > .item > .carousel-caption > a
		margin-bottom: 20%
	.team-member1 .team-member1-details p
		font-size: 14px
	.section19 .section19-404 h1
		font-size: 20em
	.navbar-brand
		margin-left: 0 !important
	.section-10-btn-cont
		text-align: right
		margin: 17px 0 0 0

/* Tablet Layout: 768px.
@media only screen and (min-width: 769px) and (max-width: 991px)
	.carousel-caption
		bottom: 80px
	ul#menu-top-menu.nav.navbar-nav.navbar-right, .dropdown-menu > li > a
		font-size: 14px !important
	.carousel-inner > .item > .carousel-caption >
	h1
		text-transform: uppercase
		font-weight: 700
		font-size: 35px
		line-height: 1em
		margin-bottom: 20px
		h3
			font-style: italic
			font-size: 25px
			line-height: 1em
			margin-bottom: 40px
	.team-member1 .team-member1-details p
		font-size: 14px
	.section19 .section19-404 h1
		font-size: 20em
	.section-10-btn-cont
		text-align: left

/* Mobile Layout: 320px.
@media only screen and (min-width: 641px) and (max-width: 768px)
	.carousel-caption
		bottom: 80px
	.carousel-inner > .item > .carousel-caption >
	h1
		text-transform: uppercase
		font-weight: 700
		font-size: 30px
		line-height: 1em
		margin-bottom: 20px
		h3
			font-style: italic
			font-size: 15px
			line-height: 1em
			margin-bottom: 30px
	.navbar-menu .navbar-nav > li > .dropdown-menu
		margin-top: 0 !important

/* Mobile Layout: 320px.
@media only screen and (max-width: 767px)
	.team-member1 .team-member1-details p
		font-size: 12px
	.section19 .section19-404 h1
		font-size: 10em
	.navbar-brand
		margin-left: 15px !important
	.section-10-btn-cont
		text-align: left
		margin: 17px 0 0 0

/* Wide Mobile Layout: 480px.
@media only screen and (min-width: 481px) and (max-width: 640px)
	.contact-detail2 li a
		font-size: 14px !important
	.carousel-caption
		bottom: 80px
	.carousel-inner > .item > .carousel-caption >
	h1
		text-transform: uppercase
		font-weight: 700
		font-size: 30px
		line-height: 1em
		margin-bottom: 20px
		h3
			font-style: italic
			font-size: 15px
			line-height: 1em
			margin-bottom: 30px
	.team-member1 .team-member1-details p
		font-size: 12px
	.section19 .section19-404 h1
		font-size: 10em
	.navbar-brand
		margin-left: 15px !important
	.section-10-btn-cont
		text-align: left
		margin: 17px 0 0 0
	.navbar-menu .navbar-nav > li > .dropdown-menu
		margin-top: 0 !important

@media only screen and (max-width: 480px)
	.contact-detail2 li a
		font-size: 15px !important
	.carousel-caption
		bottom: 55px
	.fa-mobile-phone:before, .fa-mobile:before
		font-size: 22px
		vertical-align: middle
	.carousel-inner > .item > .carousel-caption >
	h1
		text-transform: uppercase
		font-weight: 700
		font-size: 22px
		line-height: 1em
		margin-bottom: 20px
		h3
			font-style: italic
			font-size: 14px
			line-height: 1em
			margin-bottom: 20px
	.carousel-caption .btn
		margin-bottom: 20px
	.navbar-menu .navbar-nav > li > .dropdown-menu
		margin-top: 0 !important
	.inner-title h2
		margin: 0
		padding: 0