@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1

.img-responsive
	display: block
	max-width: 100%
	height: auto

.hidden
	color: #000000
	text-indent: 2%

//=========================================================================================================

/*
 *Theme Name: Medkollegia
 *Theme URI: http://underscores.me/
 *Author: Dmitriy Chernov
 *Author URI: http://blackdi-studio.com/
 *Description: Basics medical theme
 *Version: 1.0.0
 *License: GNU General Public License v3 or later
 *License URI: LICENSE
 *Text Domain: medical-theme
 *Tags:
 *
 *This theme, like WordPress, is licensed under the GPL.
 *Use it to make something cool, have fun, and share what you've learned with others.
 *
 *Medicamp is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
 *Underscores is distributed under the terms of the GNU GPL v2 or later.
 *
 *Normalizing styles have been helped along thanks to the fine work of
 *Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/

/*--------------------------------------------------------------
 *>>> TABLE OF CONTENTS:
 *----------------------------------------------------------------
 *## Menus
 *# Accessibility
 *# Alignments
 *# Clearings
 *# Widgets
 *# Content
 *	## Posts and pages
 *	## Comments
 *# Infinite scroll
 *# Media
 *	## Captions
 *	## Galleries
 *--------------------------------------------------------------

/* Small menu.

.menu-toggle, .main-navigation.toggled ul
	display: block

@media screen and (min-width: 37.5em)
	.menu-toggle
		display: none
	.main-navigation ul
		display: block

.site-main
	.comment-navigation, .posts-navigation, .post-navigation
		margin: 0 0 1.5em
		overflow: hidden

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous
	float: left
	width: 50%

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next
	float: right
	text-align: right
	width: 50%

/*--------------------------------------------------------------
 *# Accessibility
 *--------------------------------------------------------------
/* Text meant only for screen readers.

.screen-reader-text
	clip: rect(1px, 1px, 1px, 1px)
	position: absolute !important
	height: 1px
	width: 1px
	overflow: hidden
	word-wrap: normal !important
	/* Many screen reader and browser combinations announce broken words as they would appear visually.
	&:focus
		background-color: #f1f1f1
		border-radius: 3px
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6)
		clip: auto !important
		color: #21759b
		display: block
		font-size: 14px
		font-weight: bold
		height: auto
		left: 5px
		line-height: normal
		padding: 15px 23px 14px
		text-decoration: none
		top: 5px
		width: auto
		z-index: 100000
/* Above WP toolbar.

/* Do not show the outline on the skip link target.

#content[tabindex="-1"]:focus
	outline: 0

/*--------------------------------------------------------------
 *# Alignments
 *--------------------------------------------------------------

.alignleft
	display: inline
	float: left
	margin-right: 1.5em

.alignright
	display: inline
	float: right
	margin-left: 1.5em

.aligncenter
	clear: both
	display: block
	margin-left: auto
	margin-right: auto

/*--------------------------------------------------------------
 *# Clearings
 *--------------------------------------------------------------

.clear
	&:before, &:after
		content: ""
		display: table
		table-layout: fixed

.entry-content
	&:before, &:after
		content: ""
		display: table
		table-layout: fixed

.comment-content
	&:before, &:after
		content: ""
		display: table
		table-layout: fixed

.site-header
	&:before, &:after
		content: ""
		display: table
		table-layout: fixed

.site-content
	&:before, &:after
		content: ""
		display: table
		table-layout: fixed

.site-footer
	&:before, &:after
		content: ""
		display: table
		table-layout: fixed

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after
	clear: both

/*--------------------------------------------------------------
 *# Widgets
 *--------------------------------------------------------------

.widget
	margin: 0 0 1.5em
	select
		max-width: 100%

/* Make sure select elements fit in widgets.

/*--------------------------------------------------------------
 *# Content
 *--------------------------------------------------------------
/*--------------------------------------------------------------
 *## Posts and pages
 *--------------------------------------------------------------

.sticky
	display: block

.byline, .updated:not(.published)
	display: none

.single .byline, .group-blog .byline
	display: inline

.page-content, .entry-content, .entry-summary
	margin: 1.5em 0 0

.page-links
	clear: both
	margin: 0 0 1.5em

/*--------------------------------------------------------------
 *## Comments
 *--------------------------------------------------------------

.comment-content a
	word-wrap: break-word

/*--------------------------------------------------------------
 *# Infinite scroll
 *--------------------------------------------------------------
/* Globally hidden elements when Infinite Scroll is supported and in use.

.infinite-scroll
	.posts-navigation, &.neverending .site-footer
		/* Theme Footer (when set to scrolling)
		display: none

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before.

.infinity-end.neverending .site-footer
	display: block

/*--------------------------------------------------------------
 *# Media
 *--------------------------------------------------------------

.page-content .wp-smiley, .entry-content .wp-smiley, .comment-content .wp-smiley
	border: none
	margin-bottom: 0
	margin-top: 0
	padding: 0

/* Make sure embeds and iframes fit their containers.

embed, iframe, object
	max-width: 100%

/*--------------------------------------------------------------
 *## Captions
 *--------------------------------------------------------------

.wp-caption
	margin-bottom: 1.5em
	max-width: 100%
	img[class*="wp-image-"]
		display: block
		margin-left: auto
		margin-right: auto
	.wp-caption-text
		margin: 0.8075em 0

.wp-caption-text
	text-align: center

/*--------------------------------------------------------------
 *## Galleries
 *--------------------------------------------------------------

.gallery
	margin-bottom: 1.5em

.gallery-item
	display: inline-block
	text-align: center
	vertical-align: top
	width: 100%

.gallery-columns-2 .gallery-item
	max-width: 50%

.gallery-columns-3 .gallery-item
	max-width: 33.33%

.gallery-columns-4 .gallery-item
	max-width: 25%

.gallery-columns-5 .gallery-item
	max-width: 20%

.gallery-columns-6 .gallery-item
	max-width: 16.66%

.gallery-columns-7 .gallery-item
	max-width: 14.28%

.gallery-columns-8 .gallery-item
	max-width: 12.5%

.gallery-columns-9 .gallery-item
	max-width: 11.11%

.gallery-caption
	display: block

/*============= Custom plus ===================

.red
	color: #ed2227

ul#menu-top-menu.nav.navbar-nav.navbar-right
	margin-right: 35px
	font-size: 16px
	a
		font-weight: 300

.navbar-menu .navbar-nav > li
	> a:hover, &.current-menu-item > a
		color: #ed2227

.btn-primary, .section-2-box-right .btn, .footer-top .input-holder input[type="submit"]
	background: linear-gradient(to bottom, #ee4023 0%, #ed2227 100%)
	border-color: transparent
	color: #fff
	font-weight: bold

.tagcloud a
	font-size: 13px !important
	margin: 5px
	color: #7e7e7e
	padding: 5px
	float: left
	border: 1px solid #7e7e7e
	&:hover
		color: #fff
		border: 1px solid #fff

.navbar-brand > img
	max-height: 34px
	max-width: inherit
	margin-right: 5px

.dropdown-menu > li > a
	font-size: 16px

.section-5
	background-color: #fff

#section1
	background-color: #fbfbfb

/*.pattern {
/*background-image:url('/wp-content/themes/medical-theme/assets/images/pattern.png');
/*background-repeat: repeat;
/*background-attachment:scroll;
/*width:100%;
/*height:100%;
/*position:absolute;
/*top:0;
/*left:0;
/*z-index:2;
/*display: none;
/*}

#main-slide .item .slider-content
	z-index: 3

/*Remove from contact form type 7

div.wpcf7 .ajax-loader
	display: none

.slide-title
	font-size: 23px

.navbar-default.navbar-toggle
	margin-right: 15px !important

/*=============  NEW FILE  ====================================

/*
 *Table Of Contents
 *01) Common Style
 *02)TOP HEADER
 *03)Logo
 *04)Navbar
 *05)Banner
 *06)Section 1
 *07)Section 2
 *08)Section 3
 *09)Section 4
 *10)Section 5
 *11)Section 6
 *12)Section 7
 *13)Section 8
 *14)Section 9
 *15)Section 10
 *16)Footer top
 *17)Footer Bottom
 *18)Section 11
 *19)Section 12
 *20)Section 13
 *21)Section 14
 *22)Section 15
 *23)Inner Title bar
 *24)Section 16
 *25)Section 17
 *26)Section 18
 *27)Section 19
 *28)Section 20
 *29)Section 21
 *30)Section 22
 *31)Section 23

/************************************
 * 01)Common CSS
 *************************************

.alignleft
	float: left
	margin-right: 15px

.alignright
	float: right
	margin-left: 15px

.aligncenter
	display: block
	margin: 0 auto 15px

img
	max-width: 100%
	height: auto

h1, h2, h3, h4, h5, h6
	margin: 0 0 15px
	font-weight: 600
	font-family: $default-font
	letter-spacing: 1px

html
	height: 100%
	max-width: 100%

body
	height: 100%
	max-width: 100%
	font-family: $default-font
	font-weight: 300
	color: #777777

a
	-moz-transition: 0.3s
	-o-transition: 0.3s
	-webkit-transition: 0.3s
	transition: 0.3s
	color: #333
	&:hover
		text-decoration: none
	&:focus
		outline: 0 solid

/* Remove Chrome Input Field's Unwanted Yellow Background Color

input:-webkit-autofill
	-webkit-box-shadow: 0 0 0 1000px white inset !important
	&:hover, &:focus
		-webkit-box-shadow: 0 0 0 1000px white inset !important

.btn
	padding: 10px 20px
	font-weight: 300
	border-radius: 0

.btn-sm
	padding: 6px 15px

.btn-primary
	color: #fff
	background-color: #00aef0
	border-color: #00aef0
	&:hover
		color: #fff
		background-color: #0393ca
		border-color: #0393ca

.btn-secondary
	color: #00aef0
	background-color: #fff
	border-color: #fff
	&:hover
		color: #00aef0
		background-color: #efeded
		border-color: #efeded

.nopadding
	padding-left: 0
	padding-right: 0

.read-more
	color: #00aef0
	font-size: 14px
	font-weight: 300
	&:hover
		text-decoration: underline
		color: #00aef0

p
	line-height: 26px

.section-margine
	margin: 70px 0 0 0

.over-bg
	position: absolute
	left: 0
	top: 0
	background: rgba(41, 134, 226, 0.5)

/*** Heading Lines **

.title-head
	margin-bottom: 40px
	text-align: center

.line-heading
	.line-left, .line-right
		width: 55px
		height: 0
		border-top: 1px dashed #00AEF0
		display: inline-block
		margin: 0 15px
		vertical-align: middle
	.line-left
		margin-right: 30px
	.line-right
		margin-left: 30px

.line-middle
	width: 20px
	height: 20px
	display: inline-block
	margin: 0 auto
	vertical-align: middle
	position: relative
	line-height: 20px
	color: #fff
	font-size: 16px
	background: #00AEF0
	border-radius: 50%
	&:before, &:after
		content: ''
		position: absolute
		width: 7px
		height: 7px
		background: #00AEF0
		top: 7px
	&:before
		left: -20px
	&:after
		right: -20px

/************************************
 *02)TOP HEADER
 *************************************

.top-header
	background: #00AEF0
	border-bottom: 1px solid #f9f9f9
	position: relative
	overflow: hidden

.contact-detail2
	margin: 0
	i
		border-radius: 3px
		padding: 3px 5px
	li
		list-style: outside none none
		float: left
		padding: 10px 0
		margin-bottom: 0
		margin-right: 35px
		a
			color: #fff
			font-size: 13px
			font-weight: 300
			span
				font-family: $number-font
				font-weight: normal
				letter-spacing: 1px

.social-icons
	list-style: outside none none
	padding: 10px 0
	margin-bottom: 0
	li
		margin-right: 10px
		display: inline
		&:last-child
			margin-right: 0 !important
			padding-right: 0 !important
			a
				margin-right: 0 !important
				padding-right: 0 !important
	a
		color: #fff
		font-size: 14px
		line-height: 15px
		padding: 3px 5px
		transition: color 0.3s ease-in-out 0s
		vertical-align: middle
		&:hover
			color: #00AEFF

/************************************
 *03)Logo
 *************************************

.navbar-brand
	float: left
	height: auto
	padding: 8px 0
	font-size: 18px
	line-height: 20px

.logo-text
	text-transform: none
	font-size: 32px
	vertical-align: bottom
	line-height: 38px
	letter-spacing: 1px
	color: #777
	font-weight: 300
	font-family: 'Helvetica Neue', sans-serif
	samp
		background: #00AEF0
		float: left
		margin-right: 5px
		width: 40px
		height: 40px
		border-radius: 3px
		text-align: center
		line-height: 40px
		color: #fff
		font-weight: normal
		font-size: 30px
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

/************************************
 *04)Navbar
 *************************************

.navbar
	margin-bottom: 0

.header-shade
	-webkit-box-shadow: 0 0 10px #333
	-moz-box-shadow: 0 0 10px #333
	box-shadow: 0 0 10px #333
	z-index: 999

.navbar-fixed-top
	-webkit-box-shadow: 0 0 10px #333
	-moz-box-shadow: 0 0 10px #333
	box-shadow: 0 0 10px #333
	z-index: 999
	margin-top: 0 !important
	padding: 20px 0 !important
	background: #fff !important
	position: fixed !important
	.navbar-nav > li > a
		background: transparent !important

.navbar-menu .navbar-right .dropdown-menu
	left: 0 !important

.dropdown-menu
	padding: 0
	border: 0
	box-shadow: none
	.divider
		margin: 0
	> li > a
		font-size: 12px
		font-weight: 400
		color: #777
		background: #fff
		padding: 10px
		&:hover
			color: #fff !important
			background-color: #00aef0

.navbar-menu
	background: #fff
	border: none
	border-radius: 0
	padding: 20px 0
	font-weight: 600
	margin-bottom: 0
	.navbar-nav > li > a
		background: transparent !important
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
		font-weight: 300

.dropdown-menu > li > a
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	font-weight: 300
	font-size: 14px

.navbar-menu .navbar-nav >
li
	&:last-child > a
		padding-right: 0 !important
	> a
		&:hover, &:active
			background-color: transparent
	.open > a
		color: #00aef0
		background-color: #fff
		&:focus, &:hover
			color: #00aef0
			background-color: #fff
	li > .dropdown-menu
		margin-top: 26px

/************************************
 *05)Banner
 *************************************

#main-slide
	.item
		min-height: 700px
		color: #fff
		background-position: 50% 50%
		-webkit-background-size: cover
		background-size: cover
		-webkit-backface-visibility: hidden
		img
			width: 100%
			-webkit-backface-visibility: hidden
		.slider-content
			z-index: 1
			opacity: 0
			-webkit-transition: opacity 500ms
			-moz-transition: opacity 500ms
			-o-transition: opacity 500ms
			transition: opacity 500ms
		&.active .slider-content
			opacity: 1
			-webkit-transition: opacity 100ms
			-moz-transition: opacity 100ms
			-o-transition: opacity 100ms
			transition: opacity 100ms
	.slider-content
		top: 50%
		padding: 0
		position: absolute
		width: 100%
		color: #fff
		-webkit-transform: translateY(-50%)
		transform: translateY(-50%)
		&.text-left
			left: 10%
		&.text-right
			right: 10%

.slider-content
	position: relative
	display: table
	height: 100%
	width: 100%
	p
		color: #212121

.slide-title
	font-size: 28px
	line-height: 36px
	color: #fff
	margin: 15px 0
	text-transform: uppercase
	letter-spacing: 2px

.slide-sub-title
	font-style: normal
	font-size: 52px
	line-height: 58px
	margin: 15px 0
	color: #00AEF0
	font-weight: 700
	text-transform: uppercase

.slider-text
	display: table
	vertical-align: bottom
	color: #fff
	padding-left: 40%
	width: 100%
	padding-bottom: 0
	padding-top: 20px
	.slide-head
		font-size: 36px
		color: #0052a5
		position: relative

.slider-img
	display: block
	position: absolute
	top: -80px
	left: 20%
	width: 314px
	max-height: 100%
	img
		display: block
		position: relative
		max-height: 100%
		width: auto

.slider
	&.btn
		margin: 5px
		border: 2px solid transparent
	&.border
		background: none
		border: 2px solid #fff
		&:hover
			background: #00AEF0
			border: 2px solid transparent

/* Carousel control

.carousel-indicators li
	width: 10px
	height: 10px
	margin: 1px
	border-radius: 100%
	border: 0
	background: rgba(255, 255, 255, 0.5)

#main-slide
	.carousel-indicators li
		&.active, &:hover
			background: #00AEF0
			-moz-transition: all 300ms ease
			-webkit-transition: all 300ms ease
			-o-transition: all 300ms ease
			transition: all 300ms ease
	.carousel-control
		&.left, &.right
			opacity: 0
			filter: alpha(opacity = 0)
			text-shadow: none
			-webkit-transition: all .25s ease
			-moz-transition: all .25s ease
			-o-transition: all .25s ease
			transition: all .25s ease
	.carousel-indicators
		opacity: 0
		filter: alpha(opacity = 0)
		text-shadow: none
		-webkit-transition: all .25s ease
		-moz-transition: all .25s ease
		-o-transition: all .25s ease
		transition: all .25s ease
	&:hover
		.carousel-control
			&.left, &.right
				opacity: 1
				filter: alpha(opacity = 100)
		.carousel-indicators
			opacity: 1
			filter: alpha(opacity = 100)
	.carousel-control
		.fa-angle-left, .fa-angle-right
			position: absolute
			top: 50%
			z-index: 5
			display: inline-block
			-webkit-transform: translateY(-50%)
			transform: translateY(-50%)
		.fa-angle-left
			left: 20px
		.fa-angle-right
			right: 20px
		i
			background-attachment: scroll
			background-clip: border-box
			background-color: rgba(0, 174, 240, 0.5)
			background-image: none !important
			background-origin: padding-box
			background-position: 0 0
			background-repeat: repeat
			background-size: auto auto
			border-radius: 50%
			height: 50px
			line-height: 50px
			top: 50%
			width: 50px
			z-index: 1
			&:hover
				background: #00AEF0

.carousel .item.active
	.effect2
		-webkit-animation: fadeInLeft 1s ease-in 350ms both
		animation: fadeInLeft 1s ease-in 350ms both
	.effect3
		-webkit-animation: fadeInLeft 1.5s ease-in-out 300ms both
		animation: fadeInLeft 1.5s ease-in-out 300ms both
	.effect4
		-webkit-animation: lightSpeedIn 1.5s ease-in 300ms both
		animation: lightSpeedIn 1.5s ease-in 300ms both
	.effect5
		-webkit-animation: bounceInLeft 1s ease-in-out 100ms both
		animation: bounceInLeft 1s ease-in-out 100ms both
	.effect6
		-webkit-animation: fadeInRight 1s ease-in 200ms both
		animation: fadeInRight 1s ease-in 200ms both
	.effect7
		-webkit-animation: fadeInRight 1.5s ease-in 300ms both
		animation: fadeInRight 1.5s ease-in 300ms both

/************************************
 *06)Section 1
 *************************************

.section-1-box
	padding: 20px 0
	text-align: center

.section-1-box-icon-background
	border: 2px transparent solid
	height: 100px
	width: 100px
	border-radius: 50%
	margin: 0 auto 25px auto
	i
		margin-top: 37px
		color: #00AEF0

.section-1-box
	h4
		color: #555555
		font-size: 18px
		margin: 0 0 15px 0
	p
		color: #777
		font-size: 14px

/************************************
 *07)Section 2
 *************************************

.section-2-box-left
	figure
		margin-bottom: 15px
	h4
		font-size: 18px
		color: #555555
		margin: 15px 0
	a
		margin: 15px 0

.section-2-box-right
	background-color: #00AEF0
	padding: 20px 25px
	h3
		color: #ffffff
	p
		color: #fff
	ul
		padding: 0
		margin: 15px 0
		li
			list-style: none
			color: #fff
			font-weight: 300
			padding: 5px 0
	.btn
		width: 100%
		border: 0
		margin-bottom: 15px
		font-weight: 300

/************************************
 *08)Section 3
 *************************************

.section3-background
	background: #333333 url(../img/m3.jpg) no-repeat center
	background-size: cover

.section-3-box
	padding: 70px 0
	text-align: center
	figure
		color: #00AEF0
		margin: 10px 0
	h3
		font-size: 30px
		color: #fff
	h4
		font-size: 18px
		color: #fff
		margin-bottom: 0

/************************************
 *09)Section 4
 *************************************

.section-4-box
	padding: 20px 0
	overflow: hidden

.section-4-box-icon-cont
	float: left
	width: 30px
	margin: 0 23px 53px 0
	i
		color: #00aef0

.section-4-box-text-cont
	margin: 0 0 0 15px
	h5
		text-transform: uppercase
		color: #555555
		font-size: 16px
		margin: 0 0 10px 0
	p
		color: #777
		font-size: 14px

.section-4
	.right
		h2
			margin-bottom: 10px
		b
			font-size: 14px
			font-weight: normal
	ul.section
		float: left
		width: 100%
		padding: 0 3% 22px 0
		margin: 25px 0 0 0
		background: #fff
	.section li
		float: left
		padding: 0
		margin: 0
		width: 75%
		list-style: none
		a
			font-size: 12px
			color: #fff
		&.left
			float: left
			width: 65px
			color: #2cb1e9
			font-size: 40px
		strong
			font-size: 18px
			color: #1889c1
			font-weight: normal
			display: block
			margin-bottom: 10px

.border-bottom
	border-bottom: 1px solid #eeeeee

/************************************
 *10)Section 5
 *************************************

.doctor-single
	margin-top: 25px

.section-5
	background: #f7f7f7
	padding: 50px 0
	border-top: 1px solid #eee

.my-team
	.my-team-member
		margin-bottom: 20px
		&:last-of-type
			margin-bottom: 0
		.my-member-img
			overflow: hidden
			background-color: #FFF
			img
				width: 100%
		.my-team-detail
			background-color: #00AEF0
			padding: 6px 6px
			position: relative
	.my-member-name
		color: #FFF
		margin: 15px 0
	.my-member-post
		color: #FFF
		font-size: 14px
	.my-member-social
		position: absolute
		top: -25px
		right: 0
		opacity: 0
		-webkit-transition: all 0.3s ease
		-moz-transition: all 0.3s ease
		-o-transition: all 0.3s ease
		transition: all 0.3s ease
	.my-team-member:hover .my-member-social
		top: -43px
		opacity: 1
	.my-member-social ul li
		margin-top: 6px
		list-style: none
		display: inline-block
		a
			display: block
			width: 34px
			height: 34px
			line-height: 32px
			text-align: center
			color: #FFF
			border: 1px solid #00AEF0
			background-color: #00AEF0
			-webkit-transition: all 0.3s ease
			-moz-transition: all 0.3s ease
			-o-transition: all 0.3s ease
			transition: all 0.3s ease
			&:hover
				color: #3498DB
				background-color: #FFF
				border: #3498DB 1px solid

@media (min-width: 992px)
	.my-team .my-team-member
		margin-bottom: 0

/************************************
 *11)Section 6
 *************************************

.section-title
	text-align: center
	margin-bottom: 50px
	h2
		font-size: 30px
		color: #555555
	h6
		font-size: 14px
		text-transform: uppercase
		color: #555555

.section-6-box
	margin-bottom: 20px
	h3
		font-size: 20px
		color: #555555
		margin-top: 30px
	p
		font-size: 14px
		color: #777

/************************************
 *13)Section 8
 *************************************

.mytestimonial
	padding-bottom: 150px
	background: url(../img/m4.jpg) no-repeat center
	background-size: cover
	padding-top: 100px

.client-quote
	color: #fff
	max-width: 700px
	display: inline-block

.client-name
	color: #fff

.client-quote i
	color: #fff
	font-size: 20px
	padding: 0 12px

#testimonial .carousel-indicators
	bottom: -60px
	li, .active
		width: 60px
		border: none
		background-color: transparent
	li
		img
			width: 60px
			height: 60px
			border: 2px solid #FFF
			border-radius: 50%
			opacity: 0.3
			-webkit-transition: 0.3s ease-in-out
			transition: 0.3s ease-in-out
			-moz-transition: 0.3s ease-in-out
			-o-transition: 0.3s ease-in-out
		&.active img
			opacity: 1
			border: 2px solid #3399CC

/************************************
 *14)Section 9
 *************************************

.section-9-background
	background: #f7f7f7
	padding: 25px

/************************************
 *15)Section 10
 *************************************

.section-10-background
	background: #00aef0
	padding: 40px 0

.section-10-box-text-cont
	h3
		font-size: 24px
		color: #fff
		line-height: 30px
		font-weight: 500
		span
			font-family: $number-font
			color: #333
			font-weight: normal
			letter-spacing: 2px
	p
		color: #fff
		font-style: italic
		margin: 0 0 10px 0
		font-size: 16px

.section-10-btn-cont
	text-align: right
	margin: 0

/************************************
 *16)Footer top
 *************************************

.footer-top
	padding: 25px 0
	background-color: #1a1e21
	color: #7e7e7e
	font-size: 14px !important
	p
		font-size: 14px
		margin-bottom: 0
		padding: 0 15px

.footer-top-box
	margin: 30px auto
	overflow: hidden

.footer-top h4
	color: #fff
	text-transform: capitalize

.footer-top-box
	li
		padding: 5px 0 10px 0
		border-bottom: 1px dotted #333
		&:last-child
			border-bottom: 0 !important
	h5
		margin-bottom: 5px
	.widget-img-thumb
		display: inline-block
		float: left
		margin-right: 15px
		width: 60px
	.widget-content
		overflow: hidden
	.widget-date
		font-size: 12px

.footer-top
	.input-holder
		position: relative
		input[type="email"]
			width: 100%
			display: inline-block
			border: 0
			border-radius: 0
			height: 39px
			padding: 10px 20px
		label
			position: absolute
			top: 0
			right: -4px
			text-align: center
			cursor: pointer
			i
				position: absolute
				top: 9px
				left: 8px
				font-size: 20px
				color: #fff
		input[type="submit"]
			color: #fff
			border: 0
			border-radius: 0
			font-size: 11px
			font-weight: 700
			text-transform: uppercase
			padding: 20px
			line-height: 0
			text-indent: -999px
	.submit-bgcolor
		background-color: #00aef0
	ul
		list-style-type: none
		padding-left: 0
		li
			margin: 0 0 10px 0
			a
				color: #7e7e7e
				&:hover
					color: #fff

/***************************************
 *17)Footer Bottom
 ****************************************

.footer-bottom
	font-size: 14px
	padding: 20px 0
	background-color: #111315
	color: #7e7e7e
	ul.social-buttons
		list-style-type: none
		margin: 15px auto
		padding: 0
		li a
			display: block
			background-color: #282c2f
			height: 30px
			width: 30px
			border-radius: 0
			font-size: 16px
			line-height: 30px
			color: white
			outline: none
			-webkit-transition: all 0.3s
			-moz-transition: all 0.3s
			transition: all 0.3s
			text-align: center
			&:hover
				background-color: #0393ca
	.copyright
		color: #999
		margin: 20px 0 20px 0

.footer-top-box
	strong, b
		font-weight: 300

/************************************
 *18)Section 11
 *************************************

.section-11-box
	padding: 20px 0
	text-align: center

.section-11-box-icon-background
	background: #00aef0
	height: 80px
	width: 80px
	border-radius: 5%
	margin: 0 auto 20px auto
	i
		margin-top: 28px
		color: #fff

.section-11-box
	h4
		text-transform: uppercase
		color: #555555
		font-size: 18px
		margin: 0 0 10px 0
	p
		color: #777
		font-size: 14px

/************************************
 *19)Section 12
 *************************************

#section-12
	padding: 25px 0
	margin: 50px auto 50px auto

.portfolioFilter
	margin: 0 0 10px 0
	overflow: hidden
	padding: 15px 10px
	color: #45bbff

#section-12 p
	margin-bottom: 100px

.portfolioFilter a
	color: #45bbff
	text-decoration: none
	margin: 15px 5px 15px 5px
	padding: 10px 15px
	display: inline-block
	&.current
		color: #45bbff
		font-weight: 700

.portfolioContainer a img
	margin: 15px auto
	width: 100%
	height: 100%

.portfolioContainer1 a img
	/*margin:15px auto;
	margin: 0 auto
	width: 100%
	height: 100%

.isotope-item
	z-index: 2

.isotope-hidden.isotope-item
	pointer-events: none
	z-index: 1

.isotope
	/* change duration value to whatever you like
	-webkit-transition-duration: 0.8s
	-moz-transition-duration: 0.8s
	transition-duration: 0.8s
	.isotope-item
		/* change duration value to whatever you like
		-webkit-transition-duration: 0.8s
		-moz-transition-duration: 0.8s
		transition-duration: 0.8s
		-webkit-transition-property: -webkit-transform, opacity
		-moz-transition-property: -moz-transform, opacity
		transition-property: transform, opacity
	-webkit-transition-property: height, width
	-moz-transition-property: height, width
	transition-property: height, width

/************************************
 *20)Section 13
 *************************************

.section-13
	background: #00aef0
	padding: 70px 0
	h2
		color: #fff
		font-weight: 200
	p
		color: #fff
	.light
		color: #fff
		width: 20%
		margin: 30px auto 40px auto
	.btn
		color: #00aef0
		font-weight: 600
	.btn-default
		border-color: transparent

/************************************
 *21)Section 14
 *************************************

.section-14-box
	margin-bottom: 60px
	position: relative
	overflow: hidden
	padding: 30px
	border: 1px solid #eeeeee
	background: #f6f6f6

.blog-list .section-14-box
	padding: 0
	border: 0
	background: none

.section-14-box h3
	margin-top: 30px
	text-align: center
	a
		font-size: 20px
		color: #555555
		&:hover
			font-size: 20px
			color: #999

.blog-list .section-14-box h3
	text-align: left

.section-14-box
	p
		font-size: 14px
		color: #777
		line-height: 26px
		margin: 15px 0
	.comments
		margin: 15px 0
		text-align: center

.blog-list .section-14-box .comments
	margin: 5px 0
	text-align: left

.section-14-box .comments a
	color: #fff
	cursor: none

.blog-list .section-14-box .comments a
	color: #212121

.section-14-box
	ul
		list-style-type: none
		margin: 30px 0 0 0
		padding: 0
		li
			margin: 20px 0
			a
				color: #777
				&:hover
					text-decoration: none
					color: #00aef0
	.underline
		border-bottom: 2px solid #00aef0
		padding: 0 0 15px 0
	ul li a.tag
		float: left
		margin: 5px
		padding: 10px 20px
		border: 1px solid #777
		&:hover
			float: left
			margin: 5px
			padding: 10px 20px
			border: 1px solid #00aef0
			color: #00aef0

.blog-search-field
	border: 1px solid #e6e6e6
	background: #fff
	width: 100%
	padding: 13px 15px
	outline: none !important
	font-size: 14px
	line-height: 17px
	font-weight: 300
	color: #777
	margin: 20px 0 0 0

.search-form button
	background: #ffffff
	border: none
	float: right
	margin-top: -32px
	margin-right: 15px
	position: relative
	z-index: 2

.comment-form-container
	margin: 70px auto
	h4
		margin: 0 0 35px 0
	.nopadding-left
		padding-left: 0
	input.form-control
		height: 50px
	.form-control
		border-radius: 0
		padding: 10px 15px

/************************************
 *22)Section 15
 *************************************

.section17-background
	background: #CCC
	padding: 40px 0 30px 0

.team-member
	background: #fff

/************************************
 *23)Inner Title bar
 *************************************

.inner-title
	background: #00aef0
	padding: 10px 0
	h2
		color: #fff
		margin-bottom: 0
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
		font-weight: 300

.breadcrumbs ul
	float: right
	font-size: 13px
	margin-top: 10px
	font-weight: 500
	li
		display: inline-block
		color: #fff !important
		margin: 0 0 0 5px
		&:before
			content: "\f101"
			font-family: "FontAwesome",sans-serif
			font-size: 12px
			color: #fff
			margin: 0  9px 0 0
		&:first-child:before
			content: ""
			margin: 0 0 0 9px
		&:last-child:after, &:first-child:after
			content: ""
			margin: 0
		&:last-child a
			color: #fff !important
			font-weight: 600
		a
			color: #fff !important
			font-weight: 600
			&:hover
				color: #fff !important
				text-decoration: underline
		&:first-child
			padding-right: 0
			margin-left: 0
			color: #fff
			background: 0
		&:last-child
			color: #fff
			background: 0
			padding: 0

/************************************
 *24)Section 16
 *************************************

.section16
	padding: 70px 0
	.single-location
		text-align: center
		margin-bottom: 50px
	.loc-icon
		display: block
		margin-bottom: 25px
	.loc-content
		color: #282828
		font-size: 14px
		display: block
		font-weight: 300
		line-height: 15px
		margin-bottom: 10px
		text-align: center
		width: 100%
	.success, .error
		display: none
		font-family: "Source Sans Pro", sans-serif
		margin-bottom: 48px
	.success
		color: green
	.error
		color: red
	.success .fa, .error .fa
		font-size: 18px
		margin-right: 5px
	input[type="text"]
		border-radius: 0
		padding: 10px 15px
		height: 50px
	textarea
		border-radius: 0
		padding: 25px 15px
	iframe
		width: 100% !important
	.address
		margin: 20px 0
		h4
			color: #00aef0

/************************************
 *25)Section 17
 *************************************

.section17
	background: #eeeef0
	padding: 70px 0

.team-member1
	background: #fff
	padding: 5px
	margin: 10px auto
	overflow: hidden
	.team-member1-img-cont
		float: left
		width: 100%
		img
			min-height: 167px
	.team-member1-details
		float: left
		padding: 0 10px
		width: 100%
		h4
			margin: 10px 0 0 0
			padding: 0
		p
			color: #878787
			margin: 5px 0 5px 0
		.sub
			margin: 10px 0 10px 0
		p i
			margin: 0 10px 0 0
			font-size: 16px

/************************************
 *26)Section 18
 *************************************

.section18
	margin: 0

.section18-border .textcont
	margin: 10px

.section18
	.textcont
		h2
			font-size: 24px
			margin-bottom: 20px
			color: #555555
			line-height: 35px
		p
			margin-bottom: 20px
			color: #777
	.mission-vision
		padding: 20px 0
		h4
			margin: 20px 0

/************************************
 *27)Section 19
 *************************************

.section19
	margin: 50px auto
	h1
		font-size: 10em
		font-weight: 700
		color: #00aef0
		text-align: center
	h3
		text-align: center
		margin-top: 50px
		margin-bottom: 30px
	.btn-primary
		border-radius: 0
		display: inline-block
		margin: 15px 20px 0 0

/************************************
 *28)Section 20
 *************************************

.section20
	margin: 70px auto

.section-20-box
	padding: 25px 0
	overflow: hidden

.section-20-box-icon-cont
	float: left
	width: 23px
	margin: 0 15px -30px 0
	i
		color: #00aef0

.section-20-box-text-cont
	margin: 0 0 0 45px
	h5
		text-transform: uppercase
		color: #555555
		font-size: 16px
		margin: 3px 0 15px 0
	p
		color: #777
		font-size: 14px

/************************************
 *29)Section 21
 *************************************

.section21
	margin: 70px auto

.section-21-box
	padding: 25px 0
	overflow: hidden

/************************************
 *30)Section 22
 *************************************

.section22
	background: #f8f8f8
	padding: 50px 0

.section-22-box-text-cont
	padding: 100px 0

/************************************
 *31)Section 23
 *************************************

.appointment
	.modal-header
		background: #00aef0
		color: #fff
	input, select, textarea
		border-radius: 0
		box-shadow: none
	label
		color: #333
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
		font-size: 12px
		font-weight: 600

/************************************
 * Prices
 *************************************

.prices
	margin: 20px

.panel-default
	> .panel-heading
		background: #00aef0
		color: #fff
	.panel-heading .panel-title > a
		letter-spacing: 2px

@import "media" // Всегда в конце
